@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans+Extra+Condensed&family=Sofia+Sans+Semi+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Passion+One&family=Staatliches&display=swap');

body {
	font-family: 'Sofia Sans Extra Condensed', sans-serif;
	font-size: 1em;
	background-image: url("../images/TexturesCom_WoodFine0050_1_seamless_S.jpg");
	background-repeat: repeat;
	background-attachment: fixed;
	background-position: center bottom;	
}

#exampleText {
	text-align: center;
	font-family: 'Roboto', sans-serif;
	background-color: #0C2340;
	color: #FFFFFF;
	font-size: 1.1em;
	border: 1px solid #999999;
	text-overflow:ellipsis;
	text-shadow: 1px 1px 3px #000000;
}

.button {
	font-family: 'Sofia Sans Extra Condensed', sans-serif;
	font-weight: bold;
}

.copypaste {
	display: none;
}

.rangeButton, .fontRangeButton {
	font-family: "Staatliches", sans-serif;
	font-weight: bold;
	padding-left:5px;
	padding-right:5px;
}

input {
	font-family: 'Sofia Sans Extra Condensed', sans-serif;
}

input[type=number] {
	text-align: center;
}

select {
	font-family: 'Sofia Sans Extra Condensed', sans-serif;
}

table {
	border-collapse: collapse;
	background-color:rgba(255, 255, 255, 0.8);
}

.prefs {
	border-collapse: collapse;
	background-color: rgba(255, 255, 255, 0);
	font-family: 'Sofia Sans Extra Condensed', sans-serif;
}

.color_tr:hover {
	background-color: #C3DFF4;
}

td {
	padding: 5px;
}

.checkCell {
	text-align: center;
}
.header {
	font-family: "Staatliches", sans-serif;
	color:#FFFFFF;
	font-size:2.5em;
	/*font-size:2.5vw;*/
	color: white;
	-webkit-text-stroke: 1px black;
	text-shadow:
    2px 2px 0 #000,
    /* Simulated effect for Firefox and Opera
       and nice enhancement for WebKit */
   -1px -1px 0 #000,  
    1px -1px 0 #000,
   -1px  1px 0 #000,
    1px  1px 0 #000;
}

.title{
	text-align:center;
	width:60%;
	margin:0 auto;
	background:#103959;
	-moz-border-radius:20px;  
	border-radius: 20px;  
	-webkit-border-radius: 20px;
	border: 2px solid white;
	margin-top:10px;
}

.locked-accord-header {
	font-size: 16px;
	background: #ebebeb;
	padding: 5px 20px;
	border: 1px solid #cccccc;
	cursor: pointer;
	color: #666666;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	font-weight: bold;
}

.locked-header{
	-moz-border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
 	background: #103959;
}

.locked-active-header {
	-moz-border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
	background: #103959;
	color: #FFFFFF;
	background-repeat: no-repeat;
	background-position: right 50%;
}

.accord-header {
	font-size: 1.1em;
	background: #ebebeb;
	margin: 5px 0 0 0;
	padding: 5px 20px;
	border: 1px solid #cccccc;
	cursor: pointer;
	color: #666666;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	font-weight: bold;
}

.accord-content { display: none; }

.active-header {
	-moz-border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
	background: url(../images/active-header.gif) #103959;
	color: #FFFFFF;
	background-repeat: no-repeat;
	background-position: right 50%;
}

.active-header:hover {
	background: url(../images/active-header.gif) #3C6686;
	background-repeat: no-repeat;
	background-position: right 50%;
}

.inactive-header {
	background: url(../images/inactive-header.gif) #ebebeb;
	background-repeat: no-repeat;
	background-position: right 50%;
}

.inactive-header:hover {
	background: url(../images/inactive-header.gif) #f5f5f5;
	background-repeat: no-repeat;
	background-position: right 50%;
}

.accord-content { display: none; }

.locked {
	background-color: #999999;
}

.moveable {
	background-color: #CCCCCC;	
}

.question {
	font-family: "Staatliches", sans-serif;
	color:#000000;
	margin-top:10px;
	display:inline-block;
}

.answer {
	font-family: 'Sofia Sans Extra Condensed', sans-serif;
	width:95%;
	float:right;
	margin-top:5px;
	display:inline-block;
}

.dd-selected-text {
	float: right;
    padding-right: 20px;
}

.dd-option-text {
	float:right;
}

a.dd-selected {
    padding: 5px;
}

img.dd-option-image, img.dd-selected-image {
    max-width: 96px;
}

a.dd-option:hover{ 
    background:#c3dff4; 
}

tr.imagemagick {
	width: 100%;
}

tr.noim {
    display: none;
    width: 100%;
    text-align: center;
    font-style: italic
}

tr.noim td {
    width: 478px;
    text-align: center;
}

#canvasContainer {
	-moz-background-clip: padding;
	-webkit-background-clip: padding;
	background-clip: padding-box;
	background: rgba(255,255,255,0.5);			 
	border: 8px solid rgba(255,255,255,0.0);
				
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px; 
}

#overlayText {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-family: "Staatliches", sans-serif;
	color:rgba(255,255,255,0.25);
	font-size:3em;
	font-size:2.5vw;
	color: rgba(255,255,255,0.25);
	-webkit-text-stroke: 2px rgba(0,0,0,0.5);
	display: none;
	text-align: center;
}

#text {
	background-color: rgba(255,255,255,0.5);
	-moz-background-clip: padding;
	-webkit-background-clip: padding; 
	background-clip: padding-box;
				 
	border: 8px solid rgba(255,255,255,0.5);
				
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px; 
}

#fontContainer {
	width: 768px;
	height: 768px;
	top: 0px;
	left: 0px;
	position:absolute;
	z-index:3;
	display:none; 
}

#overlay {
	width: 768px;
	height: 768px;
	top: 0px;
	left: 0px;
	position:absolute;
	z-index:2;
	pointer-events:none;    
}

#jerseyOverlay {
	width:384px; 
	height:768px; 
	top:0px;
	left:0px;
	position:absolute;
	z-index:1;
	background: rgba(0,0,0,0.5);
	background-position: center;
	background-repeat: no-repeat;
	pointer-events:none;    
	display: none;
}

#jerseyContainer {
	width:384px; 
	height:768px; 
	top:0px;
	left:0px;
	position:absolute;
	z-index:1;
}

#pantsOverlay {
	width:384px; 
	height:384px;
	top:0px;
	left:384px;
	position:absolute;
	z-index:1;
	background: rgba(0,0,0,0.5);
	background-position: center;
	background-repeat: no-repeat;
	pointer-events:none;    
}

#pantsContainer {
	width:384px;
	height:384px;
	top:0px;
	left:384px;
	position:absolute; 
	z-index:1;
}

#capOverlay {
	width:384px;
	height:384px;
	top:384px;
	left:384px;
	position:absolute;
	z-index:1;
	background: rgba(0,0,0,0.5);
	background-position: center;
	background-repeat: no-repeat;
	pointer-events:none;    
}

#capContainer {
	width:384px;
	height:384px;
	top:384px;
	left:384px;
	position:absolute; 
	z-index:1;
}

#tipContainer {
	width:768px;
	height:60px;
	top:768px;
	left:0px;
	position:absolute;
}

fieldset {
	width: 512px;
	height: 50px;
	background-color: rgba(255,255,255,0.5);
	-moz-background-clip: padding; 
	-webkit-background-clip: padding; 
	background-clip: padding-box;			 
	border: 8px solid rgba(255,255,255,0.5);		
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px; 
}

legend {
	background: #103959;
	color: #000000;
	-moz-border-radius:5px;  
	border-radius: 5px;  
	-webkit-border-radius: 5px;
	padding: 0px 4px 0px 4px;
	font-weight: bold;
}

.hover{
	box-shadow: 0 0 20px blue;
}

.tippy-box {
	border: #0C2340 solid 2px;
	background-color: #FFFFFF;
	color: #0C2340;
	font-size: 1.2em;
  }
  
  .tippy-arrow {
	border-color: #0C2340;
	color: #FFFFFF;
  }

/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }

/*  GRID OF FIVE  */
.span_5_of_5 {
	width: 100%;
}
.span_4_of_5 {
	width: 79.68%;
}
.span_3_of_5 {
	width: 59.36%;
}
.span_2_of_5 {
	width: 39.04%;
}
.span_1_of_5 {
	width: 18.72%;
}

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
	.col {  margin: 1% 0 1% 0%; }
	.span_1_of_5, .span_2_of_5, .span_3_of_5, .span_4_of_5, .span_5_of_5 { width: 100%; }
}

.colorSquare {
	font-family: 'Sofia Sans Extra Condensed', sans-serif;
	border: 1px solid #CCCCCC;
    background: #F0F0F0
	-moz-border-radius: 3px;  
	border-radius: 3px;  
	-webkit-border-radius: 20px;
	width: 85px;
	font-size: .8em;
	cursor: pointer;
}

.colorSquare:hover {
	border: 1px solid #0078D7;
}

.colorSquareActive {
	border: 2px solid #FF0000;
	-moz-border-radius: 3px;  
	border-radius: 3px;  
	-webkit-border-radius: 20px;
	width: 85px;
    box-shadow: 0px 0px 4px #FF0000;
}

.colorSquareSelected {
	border: 2px solid #0078D7;
	-moz-border-radius: 3px;  
	border-radius: 3px;  
	-webkit-border-radius: 20px;
	width: 85px;
    box-shadow: 0px 0px 4px #0078D7;
}

.linkActive {
	cursor: pointer;
	margin-left: 4px;
	width:20px;
	height:20px;
	position: relative;
	float: right;
	background: url("../images/link_active.png") no-repeat;
}

.linkInactive {
	cursor: pointer;
	margin-left: 4px;
	width:20px;
	height:20px;
	position: relative;
	float: right;
	background: url("../images/link_inactive.png") no-repeat;
}

.sample {
	background: rgba(0,0,0,0.75);
	background-position: center;
	background-repeat: no-repeat;
	position:absolute;
	top:10;
	left:10;
	height:512px;
	width:512px;
	z-index: 4;
	pointer-events:none;          /* THIS IS THE TRICK YOU SEEK */
	display: none;
}

@font-face {
    font-family: 'Beaverton Script';
    src: url('../fonts/BeavertonScript.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'All State';
    src: url('../fonts/AllState.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Athletic Gothic Shadow';
    src: url('../fonts/AthleticGothicShadow.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Caxton Roman';
    src: url('../fonts/CaxtonRoman.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Berkshire Swash';
    src: url('../fonts/BerkshireSwash-Regular.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Athletic Gothic';
    src: url('../fonts/AthleticGothic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Acme';
    src: url('../fonts/Acme-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'CantoraOne';
    src: url('../fonts/CantoraOne-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Chela One';
    src: url('../fonts/ChelaOne-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Grand Hotel';
    src: url('../fonts/GrandHotel-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cookie';
    src: url('../fonts/Cookie-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Russell Circus';
    src: url('../fonts/RussellCircus.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lily Script One';
    src: url('../fonts/LilyScriptOne-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Engagement';
    src: url('../fonts/Engagement-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Damion';
    src: url('../fonts/Damion.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Courgette';
    src: url('../fonts/Courgette-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Germania One';
    src: url('../fonts/GermaniaOne-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Graduate';
    src: url('../fonts/Graduate-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Condiment';
    src: url('../fonts/Condiment-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Jockey One';
    src: url('../fonts/JockeyOne-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Leckerli One';
    src: url('../fonts/LeckerliOne-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Croissant One';
    src: url('../fonts/CroissantOne-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lobster Two';
    src: url('../fonts/LobsterTwo-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Kaushan Script';
    src: url('../fonts/KaushanScript-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lobster';
    src: url('../fonts/Lobster-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lobster Two';
    src: url('../fonts/LobsterTwo.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Metal Mania';
    src: url('../fonts/MetalMania-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lobster Two';
    src: url('../fonts/LobsterTwo-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Lobster Two';
    src: url('../fonts/LobsterTwo-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'MLB Cubs';
    src: url('../fonts/MLBCubs.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MLB_Tuscan_New';
    src: url('../fonts/MLB_Tuscan_New.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Norican';
    src: url('../fonts/Norican-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Oleo Script';
    src: url('../fonts/OleoScript-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Miniver';
    src: url('../fonts/Miniver.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MLB Block';
    src: url('../fonts/MLBBlock.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'New Rocker';
    src: url('../fonts/NewRocker-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MLB Red Sox';
    src: url('../fonts/MLBRedSox.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Molle';
    src: url('../fonts/Molle-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Rubik Mono One';
    src: url('../fonts/RubikMonoOne-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Quicksand';
    src: url('../fonts/Quicksand-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Satisfy';
    src: url('../fonts/Satisfy.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rawlings Fancy Block';
    src: url('../fonts/RawlingsFancyBlock-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Playball';
    src: url('../fonts/Playball-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rawlings Old English';
    src: url('../fonts/RawlingsOldEnglish.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Pro Full Block';
    src: url('../fonts/ProFullBlock.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Richardson Fancy Block';
    src: url('../fonts/RichardsonFancyBlock.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Quicksand';
    src: url('../fonts/Quicksand-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Oleo Script Swash Caps';
    src: url('../fonts/OleoScriptSwashCaps-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Pacifico';
    src: url('../fonts/Pacifico-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Oleo Script';
    src: url('../fonts/OleoScript-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Oleo Script Swash Caps';
    src: url('../fonts/OleoScriptSwashCaps-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Pirata One';
    src: url('../fonts/PirataOne-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rum Raisin';
    src: url('../fonts/RumRaisin-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Quicksand';
    src: url('../fonts/Quicksand-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'UA Tiffany';
    src: url('../fonts/UATiffany.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SPL28Script';
    src: url('../fonts/SPL28Script.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Trade Winds';
    src: url('../fonts/TradeWinds.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rubik One';
    src: url('../fonts/RubikOne-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Seymour One';
    src: url('../fonts/SeymourOne.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Varsity Classic C';
    src: url('../fonts/VarsityClassicC.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Varsity Block A';
    src: url('../fonts/VarsityBlockA.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Varsity Classic B';
    src: url('../fonts/VarsityClassicB.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Wendy One';
    src: url('../fonts/WendyOne-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'UnifrakturCook';
    src: url('../fonts/UnifrakturCook-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Varsity Classic A';
    src: url('../fonts/VarsityClassicA.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Varsity Classic Serif B';
    src: url('../fonts/VarsityClassicSerifB.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Varsity Classic Serif A';
    src: url('../fonts/VarsityClassicSerifA.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Varsity Block C';
    src: url('../fonts/VarsityBlockC.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'UnifrakturMaguntia';
    src: url('../fonts/UnifrakturMaguntia.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Varsity Classic D';
    src: url('../fonts/VarsityClassicD.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Vibur';
    src: url('../fonts/Vibur.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Viga';
    src: url('../fonts/Viga-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Varsity Block B';
    src: url('../fonts/VarsityBlockB.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Varsity Block D';
    src: url('../fonts/VarsityBlockD.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Kansas';
    src: url('../fonts/Kansas.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Wellfleet';
    src: url('../fonts/Wellfleet-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Yellowtail';
    src: url('../fonts/Yellowtail.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'mplus';
    src: url('../fonts/mplus-1m-medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


  